/* TODO Add site wide styles */
body, input, div, label, button, h1, h2, p, textarea {
    font-family: sans-serif;
}
h1 {
    font-weight: 24pt;
}
h2 {
    font-weight: 18pt;
}
textarea {
    resize: none;
}

.gold {
    color: rgb(250, 115, 115);
}
.disabled  {
    cursor: not-allowed !important
}
#root-container {
    min-height: 91vh;
}
