.spotCard-container {
    height: 260px;
    width: 260px;

    display: flex;
    flex-direction: column;

}

.spotCard-container:hover {
    cursor: pointer;
}

.spotCard-image {
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
}

.spotCard-info {
    display: flex;
    flex-direction: column;
    /* height: 0%; */
}

.SpotCard-cityState-stars {
    display: flex;
    justify-content: space-between;
    margin: 0
        /* height: 20px; */


}

.spotCard-city-state {
    margin: 0
}

.spotCard-stars {
    margin: 0;
}

.spotCard-price {
    margin: 0;
}

.tooltip {
    position: absolute;

}
