.spotCard-container {
    height: 270px;
    width: 260px;

    display: flex;
    flex-direction: column;


}

.spotCard-container:hover {
    cursor: pointer;
}

.spotCard-image {
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.spotCard-info {
    align-self: center;
    width: 95%;
    /* padding-top: 5px; */
    display: flex;
    flex-direction: column;
    /* height: 0%; */

}

.SpotCard-cityState-stars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
        /* height: 20px; */


}

.spotCard-city-state {
    margin: 0
}

.spotCard-stars {
    margin: 0;
}

.spotCard-price {
    margin: 0;
    font-weight: bold;
}

.tooltip {
    position: relative;
    bottom: auto;
    margin-top: 6px;
    padding:0;
    font-weight: bold;
    align-self: center;
    font-size: small;
}
