.profile-dropdown-hidden {
    display: none;
}

.profile-dropdown {
    list-style-type: none;
    z-index: 2;
    background-color: white;
    position: absolute;
    top: 14%;
    right: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: white;
    /* height: 160px; */
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.profile-dropdown li {
    margin: 5px 0px;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 90px;
    border-bottom: 1px solid grey;
    margin: 0px;
    padding: 0;
    z-index: 2;
    margin-bottom: 30px;
}

#nav-home-button-icon {
    margin-left: 80px;
}

.nav-profile-button {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;

}

#profile-button {
    justify-self: flex-end;
}

#user-name {
    margin-top: 15px;
    cursor: default;
}

#user-email {
    border-bottom: 1px lightgray solid;
    padding-bottom: 15px;
}

#user-email:hover {
    cursor: default;
}

.profile-manage-spots {
    padding: 8px;
    border-radius: 18px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.profile-manage-spots:hover {
    background-color: rgb(225, 225, 225);
}

#logout {
    width: 150px;
    height: 30px;
    background-color: rgb(250, 115, 115);
    color: antiquewhite;
    border-radius: 8px;
}

#logout:hover {
    cursor: pointer;
}


.logo-image {
    height: 50px;
    margin-left: 20px;
}

.create-a-new-spot {
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 18px;
}

.create-a-new-spot:hover {
    background-color: rgb(225, 225, 225);
}

.profile-profile-button {
    height: 40px;
    width: 80px;
    /* border: 1px solid black; */
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-color: grey;
}

.profile-profile-button:hover {
    cursor: pointer;
    box-shadow: lightgray 2px 2px 2px;
}

#profile-bars {
    font-size: large;
    color: grey;
}

#profile-icon {
    color: grey;
    font-size: large;
}

.modal-menu-item {
    font-weight: bold;
    width: 80%;
    align-self: center;
    padding: 8px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.modal-menu-item:hover {
    cursor: pointer;
    background-color: rgb(225, 225, 225);
    border-radius: 8px;
}
