.profile-dropdown-hidden {
    display: none;
}

.profile-dropdown {
    list-style-type: none;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 50px;
    border: 1px solid black;
}
