#sign-up-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    justify-content: space-around;
}

#update-new-spot-form {
    /* border: 1px black solid; */
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 1px solid black; */
}

#update-new-spot-form>div {
    border-bottom: 1px solid black;
    padding-bottom: 16px;
}

#update-new-spot-form input {
    margin: 5px 0;
    padding: 3px 0;
    width: 100%;
    background-color: rgb(219, 236, 255);
    padding-left: 7px;
}

#update-spot-location-container {
    display: flex;
    flex-direction: column;
}

/* FORM INFO */
#update-spot-country {
    display: flex;
    flex-direction: column;
}

#update-spot-address {
    display: flex;
    flex-direction: column;
}

#city-state {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4px;
}

#city-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#state-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#lat-lng {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

#lat-container {
    width: 50%;
}

#lat-container>input {
    width: 100%;
}

#lng-container {
    width: 50%;
}

#lng-container>input {
    width: 100%;
}

.form-errors {
    color: red;
    margin: 0;
    font-size: small;
}

#description-input {
    width: 99%;
    height: 80px;
    background-color: rgb(219, 236, 255);

}

#price-sign {
    display: flex;
    gap: 5px;
}

#price-sign>p {
    font-weight: bold;

}

#update-spot-title>input {
    width: 100%;
}

#update-spot-price>input {
    width: 100%;
}

#update-spot-photos>input {
    width: 100%;
    margin: 10px 0;
}

#update-new-spot-form-button {
    padding: 8px;
    margin: 14px 0px;
    background-color: rgb(250, 115, 115);
    color: aliceblue;
    border-radius: 8px;
    width: 102%;
}
#update-current-preview-img {
    /* border: 1px solid black; */
    width: 100%;
    align-self: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
